/audio.wav
/audio.wav_chunk_0.wav
/audio.wav_chunk_1.wav
/audio.wav_chunk_2.wav
/audio.wav_chunk_3.wav
/audio.wav_chunk_4.wav
/audio.wav_chunk_5.wav
/audio.wav_chunk_6.wav
/audio.wav_chunk_7.wav
/audio.wav_chunk_8.wav
/audio_mono.wav
/CLOVA.py
/content.js
/odio.py
/pyodio.py
/pyodio2.py
/server.py
/server2_2.py
/test.py
/test2.py
/texttest.py
/texttest_old.py